<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- normal permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- request permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/local_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity android:name=".animations.transitions.TransitionsActivity" />

        <activity android:name=".fragments.transaction.AnimateFragmentTransactionActivity" />
        <activity android:name=".fragments.backpress.BackPressDispatcherActivity" />

        <activity android:name=".recyclerview.ListAdapterDemoActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />

        <activity android:name=".image.ShapeableImageViewActivity" />
        <activity android:name=".image.CoilActivity" />

        <activity android:name=".storage.DataAndFileDemoActivity" />
        <activity android:name=".storage.MediaStoreActivity" />

        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".bottomsheet.BottomSheetActivity" />
        <activity android:name=".fragments.AboutFragmentActivity" />
        <activity android:name=".screenshot.ScreenshotActivity" />
        <activity android:name=".bottomnav.BottomNavActivity" />
        <activity android:name=".room.RoomCoroutinesActivity" />
        <activity android:name=".draggable.DragViewActivity" />
        <activity android:name=".custom.CustomViewActivity" />
        <activity android:name=".datetime.DateTimeActivity" />
        <activity android:name=".toggle.SwitchIconActivity" />
        <activity android:name=".tts.TextToSpeechActivity" />
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".encrypt.AES256Activity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".toggle.SwitchActivity" />
        <activity android:name=".search.SearchActivity" />

        <activity android:name=".NetworkStateActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".WebSocketActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ButtonActivity" />

        <activity
            android:name=".PerAppLanguageActivity"
            android:configChanges="layoutDirection|locale" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.DownloadFileService" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>